.navbar {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.admin_navbar_company_list {
  margin: 0 0 0 15rem;
}

.admin_navbar_main {
  background-color: #000;
}
.admin_navbar_main a {
  color: #fff !important;
 
}
.admin_navbar_dropdown_list {
  background-color: #000;
}

.admin_navbar_dropdown_list a:hover {
  background-color: #000;
}

.admin_navbar_list a {
  margin: 0 2rem;
}