@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img,
object,
embed,
video {
  max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
  width: 100%;
}

.Challenges {
  background-color: black;
  background-image: url(../../../Assets/ctf-images/bg.jpg);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #212529;
}

.Challenges {
  color: white;
  font-weight: normal;
  font-size: 17px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  /* color: #212529; */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
  padding: 2.2rem 0.75rem;
  font-size: 1.6rem;
}

.custom-select {
  height: calc(2.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}

.form-check {
  padding-right: 1rem;
}

/* .Challenges .form-check {
    padding-right: 1.8rem !important;
    padding-top: 1rem !important;
} */

/* .form-check-input {
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -1rem;
} */

.Challenges h1 {
  text-align: center;
  color: #ffffff;
}
.Challenges option {
  color: grey;
}
.table {
  color: #ffffff;
}

.table > tbody > tr > td {
  padding: 15px;
}

.table td {
  text-align: left;
}

.table thead th {
  text-align: left;
}

.fixed-menu {
  display: block;
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 10px;
  height: 80px;
  width: 80px;
  opacity: 1;
  cursor: pointer;
}
.fixed-menu:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
  .fixed-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 120px;
    width: 120px;
    opacity: 1;
    cursor: pointer;
  }
  .Challenges {
    font-size: 20px;
  }
}

/* surface duo Layout: 540px to a max of 720px.  Inherits styles from: Mobile Layout Tablet Layout and Desktop Layout. */

@media only screen and (min-device-width: 540px) and (min-device-height: 720px) {
  .fixed-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100px;
    opacity: 1;
    cursor: pointer;
  }
  .Challenges {
    font-size: 20px;
  }
}

/* microsoft lumia 550 Layout: 640px to a max of 360px.  Inherits styles from: Mobile Layout Tablet Layout and Desktop Layout. */

@media only screen and (min-device-width: 640px) and (min-device-height: 360px) {
  .fixed-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 80px;
    width: 80px;
    opacity: 1;
    cursor: pointer;
  }
  .Challenges {
    font-size: 19px;
  }
}

/* ipad and ipad mini Layout: 768px to a max of 1024px.  Inherits styles from: Mobile Layout Tablet Layout and Desktop Layout. */

@media only screen and (min-device-width: 768px) and (min-device-height: 1024px) {
  .fixed-menu {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 120px;
    width: 120px;
    opacity: 1;
    cursor: pointer;
  }
  .Challenges {
    font-size: 20px;
  }
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
  .fixed-menu {
    display: block;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 10px;
    height: 90px;
    width: 90px;
    opacity: 0.9;
    cursor: pointer;
  }
  .fa {
    padding-left: 6px;
  }
  .Challenges {
    font-size: 16px;
  }
}

/* kindle and nexus10 Layout: 800px to a max of 1280px.  Inherits styles from: Mobile Layout Tablet Layout and Desktop Layout. */

@media only screen and (min-device-width: 800px) and (min-device-height: 1280px) {
  .fixed-menu {
    display: block;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 110px;
    width: 110px;
    opacity: 0.9;
    cursor: pointer;
  }
  .Challenges {
    font-size: 20px;
  }
}

/* ipad pro Layout: 1024px to a max of 1366px.  Inherits styles from: Mobile Layout Tablet Layout and Desktop Layout. */

@media only screen and (min-device-width: 1024px) and (min-device-height: 1366px) {
  .fixed-menu {
    display: block;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 130px;
    width: 130px;
    opacity: 0.9;
    cursor: pointer;
  }
  .Challenges {
    font-size: 20px;
  }
}

/* L-Desktop Layout: 1280px to a max of 1440px.  Inherits styles from: Mobile Layout Tablet Layout and Desktop Layout. */

@media only screen and (min-width: 1280px) {
  .fixed-menu {
    display: block;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    height: 90px;
    width: 90px;
    opacity: 0.9;
    cursor: pointer;
  }
  .Challenges {
    font-size: 19px;
  }
}
